#HeaderCustom .logo {
  width: 120px;
  height: 45px;
  /* background: rgba(1, 255, 255, 1); */
  margin: 0 16px;
  float: left;
  font-size: 1.3em;
}

#HeaderCustom span {
  font-size: 1.3em;
}

.header-item {
  padding: 0 30px;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.custom-trigger {
  font-size: 18px;
  line-height: 64px;
  /* padding: 0 px; */
  cursor: pointer;
  transition: color 0.3s;
  float: right;
}
